<div class="container mt-4 text-center">

  <h3>Bus Seat Booking</h3>

  <div class="mb-3">
    <button class="btn btn-warning" (click)="resetBooking()">
      Reset Bookings
    </button>
    <button class="btn btn-danger" (click)="clearSeats()">
      Clear
    </button>
  </div>


  <div style="display: grid; justify-content: center;" [style.gridTemplateColumns]="'repeat(' + cols + ', 60px)'"
    [style.gap]="'10px'">

    <ng-container *ngFor="let row of seats; let rowIndex = index">

      <ng-container *ngFor="let seat of row; let colIndex = index">

        <div class="seat" [ngClass]="{
            'selected': seat.isSelected,
            'disabled': seat.isBooked,
            'aisle': colIndex === 1
          }" (click)="toggleSeat(seat)">
          {{ seat.seatNumber }}
        </div>

      </ng-container>

    </ng-container>

  </div>

  <div *ngFor="let p of passengers" class="mt-2">
    <div class="card p-2">
      <strong>Seat: {{ p.seatNo }}</strong>

      <input type="text" placeholder="Name" [(ngModel)]="p.passengerName" class="form-control my-1" />

      <input type="number" placeholder="Age" [(ngModel)]="p.passengerAge" class="form-control my-1" />
    </div>
  </div>


  <div class="mt-3">
    <button class="btn btn-success me-2" (click)="bookSeats()">
      Book Seats
    </button>
  </div>

</div>