<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-4" *ngIf="bookingService.token">

  <a class="navbar-brand fw-bold" href="#">
    Bus Booking
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ms-auto">

      <li class="nav-item" *ngIf="bookingService.token">
        <a class="nav-link btn btn-link" routerLink="/my-bookings" routerLinkActive="active">
          View Bookings
          </a>
      </li>

      <li class="nav-item" *ngIf="bookingService.token">
        <a class="nav-link btn btn-link" (click)="logout()" routerLinkActive="active">
          Logout
        </a>
      </li>

    </ul>

  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>