<div class="search-wrapper d-flex justify-content-center align-items-center">

  <div class="search-card p-4">

    <h3 class="text-center mb-4">🚌 Find Your Bus</h3>

    <form #searchForm="ngForm" (ngSubmit)="searchBuses()" novalidate>

      <!-- Source -->
      <div class="mb-3">
        <label>From</label>
        <input type="text"
          name="source"
          [(ngModel)]="source"
          #sourceInput="ngModel"
          class="form-control custom-input"
          placeholder="Enter source city"
          required minlength="3" pattern=".*\S.*" />

        <small class="text-danger" *ngIf="sourceInput.touched && sourceInput.invalid">
          Enter valid source (min 3 chars)
        </small>
      </div>

      <!-- Destination -->
      <div class="mb-3">
        <label>To</label>
        <input type="text"
          name="destination"
          [(ngModel)]="destination"
          #destinationInput="ngModel"
          class="form-control custom-input"
          placeholder="Enter destination city"
          required minlength="3" pattern=".*\S.*" />

        <small class="text-danger" *ngIf="destinationInput.touched && destinationInput.invalid">
          Enter valid destination
        </small>
      </div>

      <!-- Same city error -->
      <div *ngIf="source && destination && source === destination">
        <small class="text-danger">
          Source and Destination cannot be the same
        </small>
      </div>

      <!-- Date -->
      <div class="mb-3 mt-2">
        <label>Travel Date</label>
        <input type="date"
          name="date"
          [(ngModel)]="date"
          #dateInput="ngModel"
          class="form-control custom-input"
          required />

        <small class="text-danger" *ngIf="dateInput.touched && dateInput.invalid">
          Please select a date
        </small>
      </div>

      <!-- Button -->
      <button class="btn search-btn w-100 mt-3"
        type="submit"
        [disabled]="searchForm.invalid || source === destination">
        🔍 Search Buses
      </button>

    </form>

  </div>

</div>