<table class="table table-bordered text-center">

  <thead class="table-dark">
    <tr>
      <th>Booking ID</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>

    <ng-container *ngFor="let b of bookings">

      <!-- Main Row -->
      <tr>
        <td>{{ b.bookingId }}</td>
        <td>{{ b.bookingDt | date:'dd-MMM-yyyy' }}</td>

        <td>
          <button class="btn btn-sm btn-primary"
            (click)="togglePassengers(b)">
            {{ selectedBookingId === b.bookingId ? 'Hide' : 'View' }}
          </button>
        </td>
      </tr>

      <!-- Expand Row -->
      <tr *ngIf="selectedBookingId === b.bookingId">
        <td colspan="3">

          <div class="passenger-box p-3 text-start">

            <h6>👤 Passengers</h6>

            <ul class="list-group">
              <li class="list-group-item" *ngFor="let p of passengers">
              🪑 {{ p.seatNo }} | {{ p.passengerName }} (Age: {{ p.passengerAge }})
            </li>
            
            </ul>

          </div>

        </td>
      </tr>

    </ng-container>

  </tbody>

</table>